/doc/latex/sourcecodepro/README.md
/fonts/map/
/fonts/tfm/
/fonts/type1/
/fonts/vf/

*-autoinst.sty
*.aux
*.bcf
*.enc
*.fd
*.fdb_latexmk
*.files
*.fls
*.log
*.out
*.pdf
*.run.xml
*.synctex.gz
*.tar.gz
*.toc
*.zip
